@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
}


/* For Chrome and Safari */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  rgb(255, 149, 110);
    border-radius: 5px;
  }
  