
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.circular .container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.circular .circular-progress{
    position: relative;
    height: 159px;
    width: 159px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular .circular-progress::before{
    content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #fff;
}
.circular .progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;
}
.circular .text{
    font-size: 20px;
    font-weight: 500;
    color: #606060;
}







.bg1 {
    background-color: #3bcd08fc;
    color: rgb(255, 255, 255);
}

.totalOrders {
    color: #ffffff;
    padding: 15px 10px;
    border-radius: 50%;
    font-weight: 600;
}

.bg2 {
    background-color: #20a5ff;
    color: white;
}

.bg3 {
    background-color: #00e7a5;
    color: white;
}

.bg4 {
    background-color: #874aa1;
    color: white;
}

.bg5 {
    background-color: #465d85;
    color: white;
}

.bg6 {
    background-color: #d12b08ba;
    color: white;
}