.AllPr2 {
    font-weight: 700;
    text-decoration: underline;
    font-size: 30px;
}



.catdev table>tbody>tr {
    border: 2px solid rgb(124, 118, 118);

}


.catdev table>tbody>tr>td {
    border: 2px solid rgb(117, 119, 121);
}


.catdev table>tr>th {
    border: 2px solid rgb(151, 149, 149);
    background-color: rgb(0, 0, 0);

}