.logo {
    gap: 30px;
    align-items: center !important;
}



.LatestProducts {
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.morePrBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.Heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Heading h1 {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-weight: 900;
    position: relative;
    width: fit-content;
    color: rgb(255, 81, 0);

}


.Heading h1::after {
    content: '';
    position: absolute;
    bottom: 2%;
    left: 8%;
    height: 5px;
    width: 60%;
    background-color: rgba(255, 0, 0, 0.801);
    transition: all ease 1s;
}



@media only screen and (max-width: 1024px) {


    .navhome {
        justify-content: space-between !important;
        gap: 10px !important;
    }

    .searchBtn {
        font-size: 15px !important;
        padding: 5px;
    }

    .search {
        font-size: 15px !important;
    }

}








@media only screen and (max-width: 768px) {
    /* .searchMenu {
        display: none;
    } */

    .searchBtn {
        font-size: 12px !important;
        padding: 5px;
    }

    .search {
        font-size: 12px !important;
    }


    .navhome {
        justify-content: space-between !important;
        gap: 10px !important;
        padding: 10px 16px !important;
        padding-right: 0px !important;
    }

    .logo {
        font-size: 18px !important;
        filter: drop-shadow(2px 4px 6px rgb(255, 224, 220));
        align-items: center !important;
    }

    .logo img {
        width: 40px;
        height: 40px;
        display: none;

    }

    .regDiv {
        display: none;
    }

    .regDiv .buttonReg {
        font-size: 12px;
        display: none;
    }

    .cartitems {
        align-items: center !important;
        gap: 12px !important;

    }

    .cartitems button {
        font-size: 13px !important;
    }

    .cartitems span:nth-child(1) {
        font-size: 10px !important;
    }

    .Heading h1::after {
        content: '';
        position: absolute;
        bottom: 2%;
        left: 9%;
        height: 5px;
        width: 60%;
        background-color: rgba(255, 0, 0, 0.801);
        transition: all ease 1s;
    }
    

}


@media only screen and (max-width: 320px) {

    .navhome {
        justify-content: space-between !important;
        gap: 20px !important;
        padding: 10px 16px !important;
        padding-right: 10px !important;
    }
}


@media only screen and (max-width: 600px) {
    .searchMenu {
        display: none;
    }
}


@media only screen and (max-width: 425px) {

    .navhome {
        justify-content: space-between !important;
        gap: 20px !important;
        padding: 10px 16px !important;
        padding-right: 5px !important;
    }
}


@media only screen and (max-width: 600px) {
    .searchMenu {
        display: none;
    }
}